<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body style="background: url('/img/SignUpBackGround.jpg')" >
<div  >
<div id="nav">
    <ul  class="nav nav-pills">
        <li><a class="Sign_Up_NavBar" href="/index_page" style="color:rgb(18, 83, 18);">SignUp</a></li>
        <li><a class="Sign_Up_NavBar" href="/contactPage" style="color:rgb(18, 83, 18);">Contact</a></li>
        <li><a class="Sign_Up_NavBar" href="/login" style="color:rgb(18, 83, 18);">Login</a></li>
        <span id="mainPagemainHeading">ISSUE TRACKER</span>
    </ul>
</div>

<div id="aboutWebsite">
    This website is basically a lab project for <span id="techsUsed">Software Engineering</span> Course built by the students of Third Year (5th Semester) with intentions of learning and understanding the Client and Server side relation.<br>
    We have used Nodejs for Server-side scripting which enables us to use <span id="techsUsed">JavaScript</span> as the main language.<br>On Client-side we have used <span id="techsUsed">Jquery</span>, <span id="techsUsed">JavaScript</span>, <span id="techsUsed">JSON</span> and <span id="techsUsed">AJAX</span> for post method specifically. <span id="techsUsed">REGEX</span> is employed for form validation.<br>
    <span id="techsUsed">MongoDb</span> has been used for doing the database work which is <span id="techsUsed">NO-SQL</span>. We employed the module <span id="techsUsed">Mongoose</span> for creating schema. <span id="techsUsed">FS</span> module of nodejs is used for file-uploading.<br>
    By far all the functions integrated are working properly but still this project can improve alot.
</div>

</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>

</script>

</body>
</html>