<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body style="background: url('/img/SignUpBackGround.jpg')" >
<div  >
<div id="nav">
    <ul  class="nav nav-pills">
        <li><a class="Sign_Up_NavBar" href="/index_page" style="color:rgb(18, 83, 18);">SignUp</a></li>
        <li><a class="Sign_Up_NavBar" href="/aboutPage" style="color:rgb(18, 83, 18);">About</a></li>
        <li><a class="Sign_Up_NavBar" href="/login" style="color:rgb(18, 83, 18);">Login</a></li>
        <span id="mainPagemainHeading">ISSUE TRACKER</span>
    </ul>
</div>

<div id="contactContainer">
    <br><br>
  
    <div id='memberInfo'></div>
    <br><br>
   <div id='member1'>
    <img src='/img/malcolm-x.jpg' width='256px' height='256px'><br>
    Name:  Wajeeh Ul Hassan<br>Email:  enigmatic_wajeeh@hotmail.com<br>P.No:    0300-9264024<br>Project Contribution:<br>File Uploading + breaking into strings, Contact Page, About Page

   </div>
   <br><br> 
   <div id='member2'>
    <img src='/img/malcolm-x.jpg' width='256px' height='256px'><br>
    Name:  Ali Akhtar<br>Email:  smart.ali7778@yahoo.com<br>P.No: 0344-2485141<br>Project Contribution:<br>Data Base Work , Login + SignUp implementation, dynamic commenting
    </div>
    <br><br>
   <div id='member3'>
<img src='/img/malcolm-x.jpg' width='256px' height='256px'><br>
    Name:  Muhammad Umar Tariq<br>Email:  m_umar_t@hotmail.com<br>P.No: 0302-2551501<br>Project Contribution:<br>Dynamic HTML,  Unit Testing, Comment Highlighting and storing in Database
   </div>
   <br><br>
   <div id='member4'>
<img src='/img/malcolm-x.jpg' width='256px' height='256px'><br>
    Name:  Syed Junaid Zaki<br>Email:  junaid.zaki@hotmail.com<br>P.No: 0333-3438505<br>Project Contribution:<br>UI design, Vaidation, Error Handling
       </div>

</div>
<script type="text/javascript">
 // var myTextStr=["<img src='/img/malcolm-x.jpg' width='256px' height='256px'>","<img src='/img/malcolm-x.jpg'   width='256px' height='256px'>","<img src='/img/malcolm-x.jpg' width='256px' height='256px'>","<img src='/img/malcolm-x.jpg' width='256px' height='256px'>"];
// var count=0;
// document.getElementById('memberInfo').innerHTML = "Click back or next button for member Info";
// var routeId=0;
// $(document).ready(function(){
// $("#nextButtonC").on("click",function(){
//           count++;
//         if(count>=myTextStr.length){ count=0;}
//         $("#memberInfo").append(myTextStr[count]);      
//         document.getElementById('memberInfo').innerHTML = "Working next";
//         alert("Working Prev");
// });
// $("#prevButtonC").on("click",function(){
//         count--;
//         if(count<=0){ count=myTextStr.length;}
//         $("#memberInfo").append(myTextStr[count]);      
//         document.getElementById('memberInfo').innerHTML = "Working Prev";
//     alert("Working Prev");   
// });


// });



  // $("#nextButtonC").click(function(){
  //       count++;
  //       if(count>=myTextStr.length){ count=0;}
  //       $("#memberInfo").html(myTextStr[count]);      
  //   });

  // $("#backButtonC").click(function(){
  //       count--;
  //       if(count<=0){ count=myTextStr.length;}
  //       $("#memberInfo").html(myTextStr[count]);      
  //   });
    </script>

</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>

</script>

</body>
</html>