<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body id='forget_your_passwod_body'>
<ul class="nav nav-pills">
    <li><a href="\">Home</a></li>
    <li><a href="\">SignUp</a></li>
    <li><a href="\login">Login</a></li>
</ul>
<div class="container" class="span12">
<div id="forget_your_passwod_div"  class="span4" >
    <div  style="width: 200px">
        <div>
            <input type="email" placeholder="Email"/><br>
            <button class="btn btn-primary">Sent</button>
        </div>
    </div>
</div>
 <div  id="forget_your_passwod_div" class="span3">
<h3>Don't You Have Account </h3>
     <a href="\">SignUp</a>
 </div>

</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/Registration.js"></script>
</body>
</html>