<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body style="background: url('/img/SignUpBackGround.jpg')" >
<ul class="nav nav-pills">
    <li><a href="\">Home</a></li>
    <li><a href="\">SignUp</a></li>
    <li><a href="\login">Login</a></li>
</ul>
<h3>Forgot Your Password</h3>
<div class="container" class="span12">
<div id="forget_your_passwod_div"  class="span4" >
    <div  style="width: 200px">
        <div>
            <div>
                <h4>Password Is Sent To Your Email </h4>
            <input id="email" type="email" placeholder="Email"/>
            <button id='forget' class="btn btn-primary"  style="display: block;  margin: -8px -18px 14px; width: 100px; height: 32px; padding: 0px; float: right;">Sent</button>
            </div>
        </div>
    </div>
</div>
 <div  id="forget_your_passwod_div" class="span4">
<h3>Don't You Have Account </h3>
     <a href="\">SignUp</a>
 </div>

</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/Registration.js"></script>
<script>
    $(document).ready(function(){
        $('#forget').on("click",function(){
            var email = $('#email').val();
            $.ajax({
                url:'/FirstfindPassword',
                type:'post',
                data:{email: email},
                success:function(docs){
                    var password = docs[0].password_in_database;
                    $.ajax({
                        url:'sendemailifuserfor',
                        type:'post',
                        data:{email:email,password:password},
                        success:function(res)
                        {
                            alert(res);
                        }
                    })

                }
            })


        });
    });
</script>
</body>
</html>