<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet"href="../public/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="../public/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body id="forget_your_passwod_body">
<ul class="nav nav-pills">
    <li><a href="#">Home</a></li>
    <li><a href="#">SignUp</a></li>
    <li><a href="#">Login</a></li>
</ul>
<div >
    ali
    <div class="span2" id="githubdiv2">This Div will Contain How much Follower He has ,Has email , Contact , Profile Pic
    User name , and WHen He Joined Out gitHub Okay thata it only so be patienrt<br>

        <br>
        <h1>Ali Akhtar</h1>
    </div>
    <div class="span6" id="githubdiv"><ul class="nav nav-pills">
        <li><a href="#">Popular Repostry </a></li>
        <li><a href="#">Contributions</a></li>
        <li><a href="NewRepoistry.html">Create New Repostry </a></li>
    </ul></div>
</div>
<script src="../public/javascripts/jquery-2.0.3.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
</body>
</html>