<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
  </head>
  <body>
    <h1></h1>
    <p><button class="btn btn-primary" id="ali">It is working</button></p>

     <script src="/javascripts/jquery-2.0.3.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/Registration.js"></script>
  </body>
</html>