<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body style="color: rgb(146, 138, 123);" id="forget_your_passwod_body">
<ul class="nav nav-pills">
    <li><a href="#">LogOut</a></li>
    <li><a href="#">Repoistry</a></li>
    <li><a href="Github.html">Ali Akhtar</a></li>
</ul>


<span id='Issue_Heading' style="border-bottom: 1px solid #808080;color: #000000;padding-bottom: 50px;">Here Your Issue Name </span>





<div>
   <!-- <div class="span2" id="NewRepostry">
        <z style="margin-left: 25px;margin-bottom: 2px;padding-bottom: 2px;">Great repository names are short and memorable. Need inspiration?</z>
        <div style="margin-top: 50px;">
            <d style="margin-left: 50px;font-size: 30px;">Issue Name</d><input id="issue_name" style="margin-left: 50px;width:500px;height: 30px" style="width: 500px;" type="text" placeholder="Enter Issue Name"><br>
            <d style="margin-left: 50px;font-size: 30px;">Description(optional)</d><input id="description" style="margin-left: 50px;width:500px;height: 30px" style="width: 500px;" type="text" placeholder="Enter Description"><br>
            <f style="margin-left: 50px;font-size: 30px;">  Website Name</f><br><input id='website' style="margin-left: 50px;height: 30px;width:500px" style="width: 500px;" type="text" placeholder="Enter Website">
            <div  style="margin-top: 35px;line-height: 20px">
                <z style="margin-left: 25px;line-height: 0px;">Upload  Issues In  A  File
                    With The Extension .txt or .cpp</z>
            </div><br>
            <button id="sub" class="btn btn-primary">Click To Upload </button>
            <div id="form">

            </div>


        </div>

    </div>-->
<!--

    <div class="span6" id="NewRepostry1"><ul class="nav nav-pills">
            <li><a href="#">Popular Repostry </a></li>
            <li><a href="#">Contributions</a></li>
            <li><a href="#">Create New Repostry </a></li>
        </ul>
    </div>
-->


</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script>
    $(document).ready(function(){


        $('#sub').on("click",function(){
            var issue_name = $('#issue_name').val();
            var description = $('#description').val();
            var website  =  $('#website').val();


          //  var regrex_of_issue_name =  /^[A-Za-z]{1,15}$/;
           // var regrex_of_website = /^((([https\:\/\/]{8,}[a-z]*)([\.]{1,})([a-z]{2,3}))|([a-zA-Z]*\.[a-z]{3,4}) |([http://]{7,}([a-zA-Z]*([\.]{1,})([a-z]{2,3})))|([www.]{4,}([a-zA-Z]*)([\.]{1,})([a-z]{2,3}))|([a-zA-Z]*)([\.]{1,})([a-z]{2,3})|(([https\:\/\/www\.]{12,})([a-zA-Z]*)([\.]{1,})([a-z]{2,3})))$/;
            if((website.match(regrex_of_website)) || (issue_name.match(regrex_of_issue_name))|| (file.length)>0)
            {
                $('#sub').hide();
                alert("Wotking")
                $('#form').append("<form  id='target' class='modal-form'  enctype='multipart/form-data' >&nbsp;&nbsp; <input   class='btn-large' type='file' id='file' name='thumbnail'><input   class='btn btn-danger'  style=' margin-top:50px; width: 200px; height: 38px;margin-left: 300px; padding: 0px;' disabled='true'  type='submit'>  </form>");
                $('input:file').change(
                        function(){

                            $('input:submit').attr('disabled',false);

                        }
                );
                var data = $(this).serialize() + issue_name;
               // var path1 = file.thumbnail.path;
                $( "#target" ).submit(function( event ) {
                    alert( "Handler for .submit() called." );
                    $.ajax({
                        url:'/file-upload',
                        type:'post',
                        data:{data:data}
                    })
                    event.preventDefault();
                });

            }
            else
            {
                alert("Not Working")
            }

        });
    });

</script>

</body>
</html>