<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
</head>
<body>

<div  class="hero-unit" style="width: 25%" style="text-align: center">
    Login <br>
    <div class="page-header">
        <div style="text-align: center">

           <input type="text" placeholder="Email"/>
            <input placeholder="Password " type="text"/><br>


        </div>
    </div>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-primary" >Login</button>
</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>

</body>
</html>