<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body style="background: url('/img/SignUpBackGround.jpg')" >
<div  >
<div id="nav">
    <ul  class="nav nav-pills">
        <li><a class="Sign_Up_NavBar" href="/index_page">SignUp</a></li>
        <li><a class="Sign_Up_NavBar" href="#">Contact</a></li>
        <li><a class="Sign_Up_NavBar" href="#">About</a></li>
        <li><a class="Sign_Up_NavBar" href="/login">Login</a></li>
        &nbsp;&nbsp;&nbsp;<span id="mainPagemainHeading">ISSUE TRACKER</span>
    </ul>
</div>

</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>

</script>

</body>
</html>