<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body style="background: url('/img/SignUpBackGround.jpg')" >
<div  >
<div id="nav">
    <ul  class="nav nav-pills">
        <li><a class="Sign_Up_NavBar" href="/index_page">SignUp</a></li>
        <li><a class="Sign_Up_NavBar" href="#">Contact</a></li>
        <li><a class="Sign_Up_NavBar" href="#">About</a></li>
        <li><a class="Sign_Up_NavBar" href="/login">Login</a></li>
        <span id="mainPagemainHeading">ISSUE TRACKER</span>
    </ul>
</div>

<div id="websiteDescription">
    This is a platform where developers from all over the world can share their code allowing other developers
    to interect with them and help them <span id="websitePunchline">KILL THEIR BUGS IN CODE</span> 
</div>

</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>

</script>

</body>
</html>