<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet"href="../public/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="../public/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body id="forget_your_passwod_body">
<div  style="background-color: #000000" >
    <ul class="nav nav-pills">
        <li><a style="color: green" href="#">Home</a></li>
        <li><a style="color: green" href="#">SignUp</a></li>
        <li><a style="color: green" href="#">Login</a></li>
    </ul>
</div>
<div  class="span4" id="User_Contact_Over_Here">
    Name: Ali Akhtar
    email : smartali.7778@yahhoo.com
    <div class="span4" id="User_Post_Over_Here">

    </div>
</div>
<script src="../public/javascripts/jquery-2.0.3.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
<script>
</script>
</body>
</html>