<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet"href="../public/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="../public/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body id='forget_your_passwod_body'>
<ul class="nav nav-pills">
    <li><a href="\">Home</a></li>
    <li><a href="\">SignUp</a></li>
    <li><a href="\login">Login</a></li>
</ul>
<div id="commentbox">
    <h1><b>Email </b>:  smartali.7778@yahoo.com</h1>
    <h2>Issue Name : Problem in Jaquery</h2>
   <div  class="sp" id="innercomment1">
<div style="margin-left: 112px;">Content Over here<br/><br><br></div>
       <input  id='comment' type="text" placeholder="Enter Your Comment Over Herer"/><br/>
       <button class="btn-large" id="cmt_btn">Comment</button><br/>

   </div>

</div>
<script src="../public/javascripts/jquery-2.0.3.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
</body>
</html>