<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet"href="../public/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="../public/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body id="forget_your_passwod_body">
<div  style="background-color: #000000" >
    <ul class="nav nav-pills">
        <li><a style="color: green" href="#">Home</a></li>
        <li><a style="color: green" href="#">SignUp</a></li>
        <li><a style="color: green" href="#">Login</a></li>
    </ul>
</div>
<div>
<div  id="User_Contact_Over_Here">
    <div id="name_and_email_of_user" class="span3">
        Name: Ali Akhtar<br>
        email :smartali.7778@yahhoo.com
    </div>
<div>

</div>

    <div id="here_is_user_post" class="span4" id="User_Post_Over_Here">
        <span id="issue_name_of_user">Name Of Issue </span><br>
        Console.log("ali akhtar");<button> <i class=" icon-pencil"></i></button><br>
        Console.log("ali akhtar");<button> <i class=" icon-pencil"></i></button><br>
        Console.log("ali akhtar");<button> <i class=" icon-pencil"></i></button><br>

    </div><br>
    <button title="Apply Inline CSS To Choose Line " id='btn_save_id'><i class="icon-ok-circle"></i></button><button title="Edit Your CSS " id='btn_edit_id'> <i class="icon-edit"></i></button>
</div>
<p id="user_comment_over_there">
   <span id="comment_input_enter_here"><input type="text"><br>
<button><i class="icon-comment"></i>Comment</button>
       <div id="comment_here_in_this_line">
           <span class="border_in_comment">ali akhtar </span><br>
           <span class="border_in_comment">ali akhtar is a  </span><br>
           <span class="border_in_comment">ali akhtar  ddd dd d d d</span><br>
       </div>


   </span>
</p>
</div>
<script src="../public/javascripts/jquery-2.0.3.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
<script>
</script>
</body>
</html>