body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#websiteDescription{
opacity:0.85;
width: 50%;
margin: auto;
margin-top: 60px;
text-align: center;
font-size: 40px;
letter-spacing: 6px;
color: white;
line-height: 45px; 
}
#websitePunchline{
color: red;
}
#techsUsed{
    color: red;
}
#contactContainer{
width: 75%;
margin: auto;    
}
#member1,#member2,#member3,#member4{
    text-align: left;
    width: 512px;
    opacity: 0.90;
    display: inline-block;
    background-color: green;
    color: white;
}
#memberInformation{
    color: red;
}
#aboutWebsite{
background-color: #0C2707;
opacity: 0.85;
width: 80%;
margin: auto;
margin-top: 60px;
text-align: center;
font-size: 20px;
letter-spacing: 6px;
color: white;
line-height: 45px;}

a {
  color: #00B7FF;
}
#forget_your_passwod_body
{
background-color: #413838;
}
#forget_your_passwod_div
{
    border: 1px solid #225C17;
    padding: 72px;
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: 200;
    line-height: 56px;
    height:123px;
    background-color: #000000;

}
#login_page_body
{

}
#login_page_div1
{   opacity: 0.90;
    border: 1px solid #000000;
    padding: 72px;
    margin-bottom: 63px;
    font-size: 31px;
    font-weight: 200;
    line-height: 38px;
    height:137px;
    margin-left: 108px;
    background-color: #0C2707
}
#login_page_div2
{  
    opacity: 0.90;
    border: 1px solid #000000;
    padding: 72px;
    margin-bottom: 63px;
    font-size: 31px;
    font-weight: 200;
    line-height: 38px;
    height:137px;
    background-color: #0C2707
}
#event_div
{
    border: 1px solid green;
    margin-left: 270px;
    width: 730px;
    height: 1000px;
    margin-top: 100px;
    color: #ffffff;
}
#event_div1
{
    margin-left: 50px;
}
#githubdiv
{
    border: 1px solid green;
    width: 600px;
    height: 1500px;
    margin-left: 0px;
    color: wheat;
    font-family: cursive;
}
#githubdiv2
{
    border: 1px solid green;
    width:312px;
    height: 1500px;
    color: wheat;
    font-family: cursive;
}
#NewRepostry1
{
    border: 1px solid green;
    width:312px;
    height: 900px;
    color: rgb(146, 138, 123);
    font-family: cursive;
    margin-left: 0px;
    margin-top: 46px;
    padding-top: 50px;
}
#NewRepostry
{

    border: 1px solid green;
    width: 600px;
    height: 900px;
    margin-left: 114px;
    color: rgb(146, 138, 123);
    font-family: cursive;
    margin-top: 46px;
    padding-top: 50px;
    line-height: 50px;
}
#commentbox
{
   /* border: 2px solid green;*/
    height: 984px;
    margin-right: 93px;
    margin-left: 99px;
    margin-top: 45px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}
#innercomment1
{/*border: 2px solid green;*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 380px;
}
#innercomment2
{/*border: 2px solid green;*/
    margin-top: 188px;
    margin-left: 15px;
    margin-right: 15px;
    height: 118px;}
#comment{
    width: 500px;
    height: 30px;
    margin-left: -154px;
    margin-top: -307px;
}
#cmt_btn
{
   /* margin-left: -154px;*/
    color: rgb(221, 221, 233);
    background-color: rgb(71, 71, 73);
    height: 38px;
    padding-top: 5px;
    width: 300px;
    clear: both;
    margin-top: -200px;
    margin-left: 62px;
}
#post{
margin-left: 112px;
   font-family: cursive;

}
#cmt_post
{
    margin-right: 25px;
    margin-left: 0px;
    margin-bottom: 25px;
    line-height: 78px;

    font-family: cursive;
    font-size: 25px;


  /*  border-bottom: 1px solid green;*/
    padding: 5px;
}
.redline
{
    background-color: red;
}
#post
{
    border: 1px solid rgb(33, 48, 33);
    /*border:2px solid green;*/
}
#show_all_issue_name
{
    color: rgb(58, 167, 43);
    font-family: cursive;
}
.email_in_issue_when_show_data
{
    color: rgb(58, 167, 43);
}
#body
{
    color: rgb(58, 167, 43);
    background-color: black;
    color: #ffffff;
    -webkit-box-shadow: 39px 17px 32px 12px rgba(0,0,0,0.72);
    -moz-box-shadow: 39px 17px 32px 12px rgba(0,0,0,0.72);
    box-shadow: 39px 17px 32px 12px rgba(0,0,0,0.72);
}
#show_comment1
{
    margin-left: 314px;
    font-family: cursive;
    font-size: 45px;

    color: wheat;
}
#two
{
    margin-left: 314px;
    font-family: cursive;
    font-size: 45px;
    color: rgb(58, 167, 43);
}



#first_page_body
{
    background-color: #000000;
}
.sign_up_text
{
    font-size: 18px;
}
#main_heading
{

}
#nav
{
    background-color: #000000;
}
    #mainPagemainHeading{
    opacity:0.95;
    text-shadow: 1px 1px #ffffff;
    font-size: 80px;
    color: rgb(18, 83, 18);
    margin-left:40px;
    text-align: right;

}
#Sign_Up_NavBar
{
    background-color: #166E21;
}
#NewRepostry{
    background-color: black;
}

#login_page_of_div
{
    width: 100%;
    height: 100%;
}
#file
{
    margin-left: 40px;
}
.post_user_info
{
    color:green;
}
.Add_Event_span
{
    font-size: 20px;
}
#Issue_Heading
{
    color: black;
}
.ali
{

}
#User_Contact_Over_Here
{

    color: #ffffff;
}
#User_Post_Over_Here
{
    border: 1px solid green;
    color: #ffffff;
    height: 200px;
    width: 50%;
}
#User_Comment_Over_Here
{
    border: 1px solid green;
    color: #ffffff;
}
#here_is_user_post
{

    margin-left: 104px;
    text-align: center;
    width: 50%;
    margin-top: 58px;
    border-bottom: 1px solid green;
    padding-bottom: 70px;
}
#issue_name_of_user
{

    margin-left: -493px;
    font-size: 20px;
    border-bottom: 1px solid rgb(61, 77, 61);
}
#name_and_email_of_user
{
    border-right: 1px solid green;
    height: 500px;
    padding-right: 30px;
    border-bottom: 1px solid green;
    margin-top: 70px;
}
#user_comment_over_there
{

    color: #ffffff;
    width: 25%;
    margin-left: 50%;

    margin-top: 297px;
}
.border_in_comment
{
    color: white;
    border-bottom: 1px solid rgb(3, 39, 3);
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #141212;
    text-align: center;
    border-left: 1px solid green;
    border-right: 1px solid green;
    margin-right: 218px;

}
#comment_here_in_this_line
{
    border-bottom: 1px solid green;
    padding-bottom: 45px;
    color: #000000;
    padding-top: 25px;
    margin-left: 269px;
    padding-bottom: 25px;
    line-height: 56px;
    padding-left: 204px;
}
#main_div_when_show_user_profile
{
    background-color: #131111;
    width: 100%;
    height: 707px;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(15, 36, 15);
}